@let loading = (loadingState$ | async);
@let error = (error$ | async);

<div class="d-flex justify-content-between">
    <button class="btn btn-primary">Neuer Kunde</button>
    <button class="btn btn-outline-secondary" (click)="loadCustomers()">Aktualisieren</button>
</div>

<h2>Übersicht</h2>

@if(error !== null) {
<app-error-box>
    {{ error }}
</app-error-box>
}

@if(loading) {
    <app-loading-indicator></app-loading-indicator>
} @else if(error === null) {
    <app-customer-table [tableData]="(customers$ | async )"></app-customer-table>
}
